
<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<!-- Display the question asked and the answer given -->
<p> <%= @answer %> </p>

<a href="/ask" class="btn btn-primary-lg">Ask the coach another question</a>
